body{
    margin: 0;
    height: 100vh;
    display: grid;
    font-family: sans-serif;
}

.Firstview{
    min-height: 100vh;
    background: radial-gradient(
        ellipse at center,
        #eee 0%,
        #cfd6fa 50%,
        #003366
    );
}

.header-nav{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.nav-cont{
    position: relative;
    margin: 0;
    left: -180px;
    
}
.cont-logo{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.nav-ul{
    gap: 50px;
    display: flex;
    font-size: 24px;
    list-style: none;
    border-radius: 2px;
}

.nav-ul a{
    text-decoration: none;
    color: #eee;
}
.nav-ul a:hover{
    color: #ffff;
}
.container-cidwa{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #B8860B;    
    margin-top: 5%;


}

.container-cidwa h1{
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cidwa-img{
    margin-top: -30px;
    width: 500px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;

}
.metas{
    margin: 0;
    background:#003366;
    padding: 120px 0;
    min-height: 120vh;
}
.metas h2{
    color: #ffff;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 3em;
}
.metas-wrapper{
    width: 90%;
    padding: 0;
    height: 75%;
    max-width: 1400px; /* opcional, pero recomendable */
    margin: 0 auto;
    border-radius: 20px;
    background: #eee;
    display: flex;
}

.metas-wrapper img{
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.wrapper-data{
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
    
}
.wrapper-data h3{
    margin:0;
    margin-left: 10px;
    color: #B8860B;
    font-size: 4.4em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.wrapper-data p{
    margin-left: 10px;
    font-size: 1.8em;
}
.wrapper-data ul{
    margin-left: 10px;
    font-size: 1.8em;
}
.carousel{
    width: 100%;
    overflow: hidden;
    position: relative;
}

input[type="radio"]{
    display: none;
}

.slides{
    display: flex;
    width: 300%;
    transition: transform 0.6s ease;
}

.metas-wrapper{
    width: 100%;
    flex: 0 0 100%;
    position: relative;
}

#s1:checked ~ .slides{
    transform: translateX(0%);
}

#s2:checked ~ .slides{
    transform: translateX(-33.33%);
}
#s3:checked ~ .slides{
    transform: translateX(-66.66%);
} 

.controls{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 ;
}

.controls label{
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: #B8860B;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.definicion{
    margin: 0;
    background:#004080;
    padding: 60px 0;
}
.definicion h2{
    color: #ffff;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 3em;
}

.section-card{
    opacity: 0;
    transform: scale(0.8);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}

@keyframes reveal{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}